<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ExyDoc.TestClasses.TC004_Verify_Add_Group_Address_Functionality"/>
      <class name="com.ExyDoc.TestClasses.TC001_VerifyLoginFunctionality"/>
      <class name="com.ExyDoc.TestClasses.TC002_Verify_Add_Groups_Functionality"/>
      <class name="com.ExyDoc.TestClasses.TC003_Verify_Logout_Functionality"/>
  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
